.input,
.underlined-input {
	width: 100%;
	padding: 3px;
	border: 2px solid var(--dark-color);
	border-radius: 3px;
	outline: none;
	transition: 0.25s border-color;

	&[type="number"] {
		appearance: none;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}
	}

	&:focus {
		border-color: var(--accent-color);
	}

	&:invalid {
		border-color: salmon;
	}
}

.underlined-input {
	border: none;
	border-bottom: 3px solid var(--accent-color);
	border-radius: 0;
	color: var(--light-color);
}
