:root {
	--dark-color: #1e1e1e;
	--light-color: #efefef;
	--black-color: #070707;
	--gray-color: #323232;
	--accent-color: #5438dc;

	--inter-font: "Inter", serif;
	--prosto-font: "Prosto One", serif;
	--seymour-font: "Seymour One", serif;
}
